{% extends 'base_fi.html' %}

{% block title %}Liity Sähköpostilistalle{% endblock %}

{% block content %}
    <h1>Liity Sähköpostilistalle</h1>
    <p>Ole osa yhteisöämme ja pysy ajan tasalla tulevista päivityksistä ja tapahtumista!</p>
    
    <form action="/email_list/" method="post" class="signup-form">
        <label for="email">Sähköpostiosoite:</label>
        <input type="email" id="email" name="email" required>

        <input type="hidden" name="lang" value="fi">

        <button type="submit" class="cta-button">Liity</button>
    </form>
{% endblock %}
