{% extends 'base_fi.html' %} {% block content %}
<section class="toimintaviikko-info">
  <h1 class="toimintaviikko-heading">Information of the Action Week</h1>
  <p>
  The Action Week is a campaign against the current far-right government led by Petteri Orpo. 
  During the Action Week, we march together for mental health, 
  against cuts, and bid farewell to the far-right government!</p>
  </p>
</section>
<section class="toimintaviikko-info">
  <h1 class="toimintaviikko-heading">What? Where? Why?</h1>
  <p>
    The Action Week is a campaign during which we fight against the policies of 
	the far-right government and bid farewell to the blue-black government.<br><br>
	The Action Week will take place from November 27 to December 3, 2023, and during the week, 
	we will organize the following protests<br><br>
	
	- Opening protest of the Action Week, November 27th 2023, from Senate Square to the Parliament House<br>
	- Protest for mental health, November 28th 2023, in front of the Parliament House<br>
	- March against cuts, December 2nd 2023, from Senate Square to the Parliament House<br>
	- Farewell to the government march and street block, December 3rd 2023 from Senate Square to the Parliament House<br>

	In addition to the protests, we will also organize 7 slow marches in Helsinki, one for each day of the Action Week.<br><br>
	
	We are organizing the Action Week because we oppose the inhumane policies of Petteri Orpo's far-right government. 
	We demand humane policies and the resignation of the current government.<br><br>
	
	Join us to bid farewell to the far-right government!
  </p>
</section>
{% endblock %}
