{% extends 'base_en.html' %}
{%block title %} Create a Blog Post {%endblock%}

{% block content %}
    <div class="container">
        <h1>Create a Blog Post</h1>
        <form class="blog-form" method="POST" action="{{ url_for('create_post') }}">
            <div class="form-group">
                <label for="title">Title</label>
                <input type="text" name="title" id="title" required>
            </div>
            <div class="form-group">
                <label for="author">Author</label>
                <input type="text" name="author" id="author" required>
            </div>
            <div class="form-group">
                <label for="content">Content</label>
                <textarea name="content" id="content" rows="6" required></textarea>
            </div>


            </div>
            <button type="submit" class="btn btn-primary">Create Post</button>
        </form>
        <a href="{{ url_for('blog', lang='fi') }}">Back to Blog</a>
    </div>
    <script src="https://cdn.ckeditor.com/4.16.2/standard/ckeditor.js"></script>
    <script>
        CKEDITOR.replace('content');
    </script>
    
{% endblock %}
