{% extends 'base_en.html' %} 
{% block content %}
<section class="about-us">
  <h2 class="section-title">About Us</h2>
  <div class="about-content">
    <p>
      We are a grassroots movement working towards ending the destructive austerity policies of Petteri Orpo's blue-black government or its downfall.
    </p>
    <p>Our mission is to promote the downfall of the far-right government.</p>
    <p>
      Join us in creating positive changes for our community and the entire society.
    </p>
  </div>
  <div class="principles-container">
    <h3 class="subsection-title">Our Principles</h3>
    <ul class="principles-list">
      <li>Non-violence</li>
      <li>Open and honest communication</li>
      <li>Peaceful activism</li>
      <li>Community and equality</li>
    </ul>
  </div>
  <div class="demands-container">
    <h3 class="subsection-title">Our Demands</h3>
    <div class="anna">We give the Finnish government 2 options:</div>
    <div class="vaatimus">
      1. Implement policies respecting the poor and human rights.<br>
      2. Step down from your positions.
    </div>
  </div>
  <a href="{{ url_for('contact') }}" class="cta-button">Contact Us</a>
  <a href="{{ url_for('contacts') }}" class="cta-button">Contact Information</a>
</section>
{% endblock %}
