{% extends 'base_en.html' %}
{% block content %}
<style>
  /* Custom CSS */
  .custom-name {
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 18px;
  }

  .custom-email {
    text-decoration: none;
    color: #0078d4;
    font-size: 16px;
    display: block;
    overflow: hidden;
    text-align: center;
    text-overflow: break-word;
    overflow-wrap: anywhere;
  }

  .custom-email:hover {
    text-decoration: underline;
  }

  .custom-title {
    font-style: italic;
    color: #555;
    font-size: 14px;
  }

  .custom-send-email-button {
    background-color: #0078d4;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    margin-top: 10px;
    font-size: 16px;
  }

  .custom-send-email-button:hover {
    background-color: #005a9e;
  }

  .custom-contact-group {
    margin-top: 20px;
    border-top: 1px solid #ccc;
    padding-top: 20px;
  }

  .custom-heading {
    font-size: 24px;
    color: #0078d4;
  }

  .custom-contact {
    margin-bottom: 10px;
    /* Event styles */
    background-color: #ffffff;
    border: 1px solid #e0e0e0;
    padding: 30px;
    margin: 10px 0px;
    border-radius: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
  }

  .custom-contact:hover {
    transform: translateY(-5px);
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }

  /* Custom role styles */
  .custom-role {
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 16px;
    color: #333;
    margin-top: 5px;
  }

  .custom-role-details {
    font-size: 14px;
    color: #555;
    margin-bottom: 10px;
  }

</style>
<section class="contact-us">
  <h2>Contact Information</h2>
  <div class="custom-contact-group">

    <h3 class="custom-heading">General Contact Information</h3>

    <div class="events-list">
      <div class="custom-contact">
        <div class="custom-name">General Email</div>

        <div class="custom-email">
          <a href="mailto:sinimustaahallitustavastaan@sinimustaahallitustavastaan.org">Against the Blue-Black Government</a>
        </div>

        <div class="custom-title">We usually read your emails within a day</div>
        <a class="custom-send-email-button"
          href="mailto:sinimustaahallitustavastaan@sinimustaahallitustavastaan.org">Send Email</a>
      </div>

      <div class="custom-contact">
        <div class="custom-name">Executive Team</div>

        <div class="custom-email"><a href="mailto:johtoryhma@sinimustaahallitustavastaan.org">Executive Team</a></div>

        <div class="custom-title">Contact the executive team</div>
        <a class="custom-send-email-button" href="mailto:johtoryhma@sinimustaahallitustavastaan.org">Send Email</a>
      </div>

      <div class="custom-contact">
        <div class="custom-name">Media Team</div>

        <div class="custom-email"><a href="mailto:media@sinimustaahallitustavastaan.org">Media</a></div>

        <div class="custom-title">Interview requests, photo requests, and other media matters!</div>
        <a class="custom-send-email-button" href="mailto:media@sinimustaahallitustavastaan.org">Send Email</a>
      </div>
    </div>
  </div>

  <div class="custom-contact-group">

    <h3 class="custom-heading">Executive Team</h3>

    <div class="events-list">

      <div class="custom-contact">
        <div class="custom-name">Verso Vuorenmaa</div>
        <div class="custom-email">
          <a href="mailto:verso.vuorenmaa@sinimustaahallitustavastaan.org">verso.vuorenmaa</a>
        </div>
        <!-- Custom role field -->
        <div class="custom-role">Role: IT Manager</div>
        <!-- Additional role details -->
        <div class="custom-role-details">Responsibilities: Website, Servers, Cybersecurity, DevOps</div>
        <a class="custom-send-email-button" href="mailto:verso.vuorenmaa@sinimustaahallitustavastaan.org">Send Email</a>
      </div>

      <div class="custom-contact">
        <div class="custom-name">Taru Maukonen</div>

        <div class="custom-email">
          <a href="mailto:taru.maukonen@sinimustaahallitustavastaan.org">taru.maukonen</a>
        </div>

        <div class="custom-title">Coordinator</div>
        <a class="custom-send-email-button" href="mailto:taru.maukonen@sinimustaahallitustavastaan.org">Send Email</a>
      </div>

      <div class="custom-contact">
        <div class="custom-name">Severi Suominen</div>
        <div class="custom-email">
          <a href="mailto:severi.suominen@sinimustaahallitustavastaan.org">severi.suominen</a>
        </div>
        <!-- Custom role field -->
        <div class="custom-role">Role: Coordinator</div>
        <!-- Additional role details -->
        <div class="custom-role-details">Responsibilities: Jyväskylä local group, blog team</div>
        <a class="custom-send-email-button" href="mailto:severi.suominen@sinimustaahallitustavastaan.org">Send Email</a>
      </div>

      <div class="custom-contact">
        <div class="custom-name">Eljas Almusa</div>

        <div class="custom-email">
          <a href="mailto:eljas.almusa@sinimustaahallitustavastaan.org">eljas.almusa</a>
        </div>

        <div class="custom-title">Coordinator</div>
        <a class="custom-send-email-button" href="mailto:eljas.almusa@sinimustaahallitustavastaan.org">Send Email</a>
      </div>

      <div class="custom-contact">
        <div class="custom-name">Julia L</div>

        <div class="custom-email">
          <a href="mailto:julia.lindstorm@sinimustaahallitustavastaan.org">julia.lindstorm</a>
        </div>

        <div class="custom-title">Coordinator</div>
        <a class="custom-send-email-button" href="mailto:julia.lindstorm@sinimustaahallitustavastaan.org">Send Email</a>
      </div>
    </div>
  </div>

  <div class="custom-contact-group">

    <h3 class="custom-heading">Local Groups</h3>

    <div class="events-list">
      <div class="custom-contact">
        <div class="custom-name">Jyväskylä Local Group</div>

        <div class="custom-email">
          <a href="mailto:jyvaskyla@sinimustaahallitustavastaan.org">Jyvaskyla</a>
        </div>

        <div class="custom-title">We usually read your emails within a few days</div>
        <a class="custom-send-email-button" href="mailto:jyvaskyla@sinimustaahallitustavastaan.org">Send Email</a>
      </div>

      <div class="custom-contact">
        <div class="custom-name">Tampere Local Group</div>

        <div class="custom-email">
          <a href="mailto:tampere@sinimustaahallitustavastaan.org">Tampere</a>
        </div>

        <div class="custom-title">We usually read your emails within a few days</div>
        <a class="custom-send-email-button" href="mailto:tampere@sinimustaahallitustavastaan.org">Send Email</a>
      </div>

      <div class="custom-contact">
        <div class="custom-name">Helsinki Local Group</div>

        <div class="custom-email">
          <a href="mailto:helsinki@sinimustaahallitustavastaan.org">Helsinki</a>
        </div>

        <div class="custom-title">We usually read your emails within a day</div>
        <a class="custom-send-email-button" href="mailto:helsinki@sinimustaahallitustavastaan.org">Send Email</a>
      </div>
    </div>
  </div>

</section>
{% endblock %}
