{% extends 'base_en.html' %} {% block content %}
<section class="contact-form">
  <h2>Contact Us</h2>
  <p>
    Do you have any questions or want to get involved in our activities? Get in
    touch using the form below.
  </p>
  <form action="#" method="post" class="closed-form">
    <label for="name">Your Name</label>
    <input type="text" id="name" name="name" required />

    <label for="email">Your Email</label>
    <input type="email" id="email" name="email" required />

    <label for="phonenumber">Your Phonenumber</label>
    <input type="phonenumber" id="phonenumber" name="phonenumber" required />

    <label for="message">Your Message</label>
    <textarea id="message" name="message" rows="6" required></textarea>

    <button type="submit" class="cta-button">Send</button>
  </form>
  <!--<p class="alternative-contact">You can reach us via email at <a href="mailto:sinimustaahallitustavastaan@gmail.com">sinimustaahallitustavastaan@gmail.com</a> while the contact form is closed.</p>-->
</section>
{% endblock %}
