{% extends 'base_en.html' %} {% block content %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/contacts.css') }}"/>

<section class="contact-us">
  <h2>Contact Information</h2>
  <div class="custom-contact-group">
    <h3 class="custom-heading">General Contacts</h3>

    <div class="events-list">
      <div class="custom-contact">
        <div class="custom-name">General Email</div>

        <div class="custom-email">
          <a
            href="mailto:sinimustaahallitustavastaan@sinimustaahallitustavastaan.org"
            >Against the Blue-Black Government</a
          >
        </div>

        <div class="custom-title">We usually read your emails within a day</div>
        <a
          class="custom-send-email-button"
          href="mailto:sinimustaahallitustavastaan@sinimustaahallitustavastaan.org"
          >Send Email</a
        >
      </div>

      <div class="custom-contact">
        <div class="custom-name">Executive Group</div>

        <div class="custom-email">
          <a href="mailto:johtoryhma@sinimustaahallitustavastaan.org"
            >Executive Group</a
          >
        </div>

        <div class="custom-title">Contact the executive group</div>
        <a
          class="custom-send-email-button"
          href="mailto:johtoryhma@sinimustaahallitustavastaan.org"
          >Send Email</a
        >
      </div>

      <div class="custom-contact">
        <div class="custom-name">Media Working Group</div>

        <div class="custom-email">
          <a href="mailto:media@sinimustaahallitustavastaan.org">Media</a>
        </div>

        <div class="custom-title">
          Interview requests, image requests, and other media matters!
        </div>
        <a
          class="custom-send-email-button"
          href="mailto:media@sinimustaahallitustavastaan.org"
          >Send Email</a
        >
      </div>
    </div>
  </div>

  <div class="custom-contact-group">
    <h3 class="custom-heading">Executive Group</h3>

    <div class="events-list">
      <div class="custom-contact">
        <div class="custom-name">Verso Vuorenmaa</div>
        <div class="custom-email">
          <a href="mailto:verso.vuorenmaa@sinimustaahallitustavastaan.org"
            >verso.vuorenmaa</a
          >
        </div>
        <!-- Custom role field -->
        <div class="custom-role">Role: IT Manager</div>
        <!-- Add role-specific details -->
        <div class="custom-role-details">
          Responsibilities: Website, Servers, Cybersecurity, DevOps
        </div>
        <a
          class="custom-send-email-button"
          href="mailto:verso.vuorenmaa@sinimustaahallitustavastaan.org"
          >Send Email</a
        >
      </div>

      <div class="custom-contact">
        <div class="custom-name">Taru M</div>

        <div class="custom-email">
          <a href="mailto:taru.m@sinimustaahallitustavastaan.org"
            >taru.m</a
          >
        </div>

        <div class="custom-title">Coordinator</div>
        <a
          class="custom-send-email-button"
          href="mailto:taru.m@sinimustaahallitustavastaan.org"
          >Send Email</a
        >
      </div>

      <div class="custom-contact">
        <div class="custom-name">Severi Suominen</div>
        <div class="custom-email">
          <a href="mailto:severi.suominen@sinimustaahallitustavastaan.org"
            >severi.suominen</a
          >
        </div>
        <!-- Custom role field -->
        <div class="custom-role">Role: Coordinator</div>
        <!-- Add role-specific details -->
        <div class="custom-role-details">
          Responsibilities: Jyväskylä Local Group, Blog Team
        </div>
        <a
          class="custom-send-email-button"
          href="mailto:severi.suominen@sinimustaahallitustavastaan.org"
          >Send Email</a
        >
      </div>

      <div class="custom-contact">
        <div class="custom-name">Eljas Almusa</div>

        <div class="custom-email">
          <a href="mailto:eljas.almusa@sinimustaahallitustavastaan.org"
            >eljas.almusa</a
          >
        </div>

        <div class="custom-title">Coordinator</div>
        <a
          class="custom-send-email-button"
          href="mailto:eljas.almusa@sinimustaahallitustavastaan.org"
          >Send Email</a
        >
      </div>

      <div class="custom-contact">
        <div class="custom-name">Julia L</div>

        <div class="custom-email">
          <a href="mailto:julia.l@sinimustaahallitustavastaan.org"
            >julia.l</a
          >
        </div>

        <div class="custom-title">Coordinator</div>
        <a
          class="custom-send-email-button"
          href="mailto:julia.l@sinimustaahallitustavastaan.org"
          >Send Email</a
        >
      </div>
    </div>
  </div>

  <div class="custom-contact-group">
    <h3 class="custom-heading">Local Groups</h3>

    <div class="events-list">
      <div class="custom-contact">
        <div class="custom-name">Jyväskylä Local Group</div>

        <div class="custom-email">
          <a href="mailto:jyvaskyla@sinimustaahallitustavastaan.org"
            >Jyvaskyla</a
          >
        </div>

        <div class="custom-title">
          We usually read your emails within a few days
        </div>
        <a
          class="custom-send-email-button"
          href="mailto:jyvaskyla@sinimustaahallitustavastaan.org"
          >Send Email</a
        >
      </div>

      <div class="custom-contact">
        <div class="custom-name">Tampere Local Group</div>

        <div class="custom-email">
          <a href="mailto:tampere@sinimustaahallitustavastaan.org">Tampere</a>
        </div>

        <div class="custom-title">
          We usually read your emails within a few days
        </div>
        <a
          class="custom-send-email-button"
          href="mailto:tampere@sinimustaahallitustavastaan.org"
          >Send Email</a
        >
      </div>

      <div class="custom-contact">
        <div class="custom-name">Helsinki Local Group</div>

        <div class="custom-email">
          <a href="mailto:helsinki@sinimustaahallitustavastaan.org">Helsinki</a>
        </div>

        <div class="custom-title">We usually read your emails within a day</div>
        <a
          class="custom-send-email-button"
          href="mailto:helsinki@sinimustaahallitustavastaan.org"
          >Send Email</a
        >
      </div>
    </div>
  </div>
</section>
{% endblock %}
