{% extends 'base_en.html' %} {% block content %}

<section class="event-details">
  <h2>{{ event.title_en }}</h2>
  <p>Päivämäärä: {{ event.date }}</p>
  <p>Paikka: {{ event.location_en }}</p>
  <p>{{ event.description_en }}</p>

  <!-- Add any other event details you want to display -->
  {% if event.role_signup %}
  <a
    href="{{ url_for('event_signup', event_id=event._id) }}"
    class="cta-button"
    >Signup for support role!</a
  >
  {% endif %}
  <a href="{{ event.facebook_link }}" class="cta-button">Facebook event</a>
</section>
{% endblock %}
