{% extends 'base_en.html' %}

{% block content %}
    <section class="event-calendar">
        <h2>Join Us for Exciting Events</h2>
        <p>Explore our upcoming events where we come together to learn, connect, and make a positive impact.</p>
        <br>
        <br>
        {% for event in events %}
            <div class="event">
                <h3>{{ event.title_en }}</h3>
                <p>Date: {{ event.date }}</p>
                <p>Location: {{ event.location_en }}</p>
                <p>{{ event.description_en }}</p>

                <a href="{{ url_for('event_signup', event_id=event._id, lang='en') }}" class="cta-button">Signup for support role</a>
            </div>
            {% if empty %}
            <a href="{{ url_for('join_us', lang='en') }}" class="cta-button">Come to organize events!</a>
            {% endif %}
        {% endfor %}
        
    </section>
{% endblock %}
