{% extends 'base_en.html' %} {% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/about-home.css') }}">

<h1 style="font-size: 0px">Against the Government, For Life!</h1>

<section class="hero">
  <div class="hero-content">
    <h2>Against the Government, For Life!</h2>
    <p>
      Our goal is to humanize the policies pushed by the government or overthrow
      them altogether.
    </p>
    <a href="{{ url_for('about') }}" class="cta-button">Learn more about our activities</a>

    <br /><br />

    <a href="{{ url_for('join') }}" style="background-color: var(--neon-pink)" class="cta-button">Join us!</a>
  </div>
</section>
<section class="about-us">
  <div class="about-content">
    <h2>About Us</h2>
    <p>
      We are an activist group dedicated to overthrowing the blue-black government.
    </p>
    <p>Our goal is to bring down the blue-black government.</p>
    <p>Join us to overthrow the government.</p>

    <a href="{{ url_for('about') }}" class="cta-button">Read more</a>

  </div>
  <div class="about-photo-group">
    <div class="about-photo"></div><span class="about-photo-credits">Photo: Satu Söderholm 5.9.2023</span>
  </div>

</section>

<!-- this join us section should be removed -->
<!-- TEMPORARY FIX
<section class="join-us">
  <h2>Join Us Today!</h2>
  <p>
    Are you ready to take action and create a better future? Join us!
  </p>
  <a href="{{ url_for('join') }}" class="cta-button">Join us!</a>
</section>
TEMPORARY FIX ENDS-->

<!-- join_email_list.html -->

<section class="join-email-list-container">
  <div class="join-email-list-content">
    <h1 style="text-align: center">Join the Email List</h1>
    <p>
      Be part of our community and stay updated on upcoming updates and
      events!
    </p>

    {% include 'en/email/join_email_list_widget.html' %}
  </div>
</section>

{% endblock %}