{% extends 'base.html' %}

{% block content %}
    <section class="hero">
        <div class="hero-content">
            <h2>Against the Government, For Life!</h2>
            <p>Our goal is to strive for the fall of the government.</p>
            <a href="https://t.me/+OpSHLCqznS5hMThk" class="cta-button">Join our Telegram group!</a>

            <br><br>

            <a href="{{ url_for('about') }}" class="cta-button">Learn More</a>
        </div>
    </section>
    <section class="about-us">
        <h2>About Us</h2>
        <div class="about-content">
            <p>We are an activist group dedicated to toppling the blue-black government.</p>
            <p>Our mission is to bring down the far-right government.</p>
            <p>Join us in creating positive change for our community and society as a whole.</p>
        </div>
        <a href="{{ url_for('about') }}" class="cta-button">Learn More</a>
    </section>
    <section class="join-us">
        <h2>Join Us Today</h2>
        <p>Are you ready to take action and create a better future? Participate in our upcoming events or join our Telegram channel.</p>
        <a href="{{ url_for('contact') }}" class="cta-button">Join</a>
    </section>
{% endblock %}
