{% extends 'base_en.html' %}

{% block content %}
    <section class="contact-form">
        <h2>Join us</h2>
        <p>Do you want to join us? Fill the form below and wait for us to contact you.</p>
        <form method="post" class="closed-form">
            <label for="name">Your name</label>
            <input type="text" id="name" name="name" required>

            <label for="email">Your email</label>
            <input type="email" id="email" name="email" required>

            <label for="phonenumber">Your phonenumber</label>
            <input type="tel" id="phonenumber" name="phonenumber" >
            
            <label for="roles">Your interests or interests (what you want to work on) / work</label>
            <div class="checkbox-group">
                <input type="checkbox" name="roles" id="content-production" value="Tekstisisällön tuottaminen" class="custom-checkbox">
                <label for="content-production" class="checkbox-label">Producing text</label>

                <input type="checkbox" name="roles" id="photo-management" value="Kuva- ja videotaidot" class="custom-checkbox">
                <label for="photo-management" class="checkbox-label">Photo and video skills</label>

                <input type="checkbox" name="roles" id="fundraising" value="Varain- ja välineistönhankinta" class="custom-checkbox">
                <label for="fundraising" class="checkbox-label">Fundraising</label>

                <input type="checkbox" name="roles" id="social-media" value="Someosaaminen (Julkaisu ja moderointi)" class="custom-checkbox">
                <label for="social-media" class="checkbox-label">Social media (posting och moderation)</label>

                <input type="checkbox" name="roles" id="software-design" value="Ohjelmistosuunnittelu" class="custom-checkbox">
                <label for="software-design" class="checkbox-label">Software designing or programming</label>

                <input type="checkbox" name="roles" id="talent-recruitment" value="Artistien ja puhujien rekrytointi" class="custom-checkbox">
                <label for="talent-recruitment" class="checkbox-label">Talent recruitment</label>

                <input type="checkbox" name="roles" id="safety-first-aid" value="Turvallisuus ja ensiapu" class="custom-checkbox">
                <label for="safety-first-aid" class="checkbox-label">Safety and first aid</label>

                <input type="checkbox" name="roles" id="jack-of-all-trades" value="Ei mikään ylläolevista (jokapaikan höylä)" class="custom-checkbox">
                <label for="jack-of-all-trades" class="checkbox-label">Nothing thats listed here. (Add your skills on message box)</label>
            </div>

            <label for="message">Message</label>
            <textarea id="message" name="message" rows="6"></textarea>

            <button type="submit" class="cta-button">Submit</button>
        </form>
        <!--<p class="alternative-contact">Voit ottaa yhteyttä sähköpostitse osoitteeseen <a href="mailto:sinimustaahallitustavastaan@gmail.com">sinimustaahallitustavastaan@gmail.com</a>.</p>-->
    </section>
{% endblock %}