{% extends 'base_en.html' %}

{% block content %}
    <section class="contact-form">
        <h2>Signup for support role</h2>

        <form method="POST" action="/en/signup/{{ event_id }}" class="closed-form">
            <label for="name">Full name:</label>
            <input type="text" id="name" name="name" required><br>

            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required><br>

            <label for="roles">Roles:</label>
            <div class="checkbox-group">
                {% for role in event.roles %}
                <input type="checkbox" name="roles" id="{{role.name}}" value="{{role.show_name}}" class="custom-checkbox">
                <label for="{{role.name}}" class="checkbox-label">{{role.en_name}}</label>
                {% endfor %}
            </div>

            <label for="message">Information</label>
            <textarea id="message" name="message" rows="6"></textarea>

            <button type="submit" class="cta-button">Submit</button>
        </form>
    </section>
{% endblock %}
