{% extends 'base_fi.html' %}

{% block content %}
    <section class="toimintaviikko-info">
        <h1 class="toimintaviikko-heading">Tietoa toimintaviikosta</h1>
        <p>
            Toimintaviikko on kampanja, jonka aikana taistellaan sinimustan hallituksen politiikkaa vastaan.
            Toimintaviikolla järjestämme yli 10 mielenosoitusta ympäri Suomea!
        </p>
    </section>
    <section class="toimintaviikko-info">
        <h1 class="toimintaviikko-heading">Miksi?</h1>
        <p>
            Toimintaviikko on kampanja, jonka aikana taistellaan sinimustan hallituksen politiikkaa vastaan.
            Toimintaviikolla järjestämme yli 10 mielenosoitusta ympäri Suomea!
        </p>
    </section>
{% endblock %}
