{% extends 'base_fi.html' %} {% block content %}
<section class="toimintaviikko-info">
  <h1 class="toimintaviikko-heading">Tietoa toimintaviikosta</h1>
  <p>
  Toimintaviikko on nykyistä Petteri Orpon sinimustaa hallitusta vastustava kampanja. 
  Toimintaviikon aikana marssimme yhdessä mielenterveyden puolesta, 
  leikkauksia vastaan sekä toivotamme jäähyväiset sinimustalle hallitukselle!</p>
  </p>
</section>
<section class="toimintaviikko-info">
  <h1 class="toimintaviikko-heading">Mitä? Missä? Miksi?</h1>
  <p>
    Toimintaviikko on kampanja, jonka aikana taistelemme sinimustan hallituksen
    politiikkaa vastaan ja toivotamme jäähyväiset sinimustalle hallitukselle.<br><br>
	Toimintaviikko järjestetään 27.11 - 3.12.2023,
	ja viikon aikana järjestämme seuraavat mielenosoitukset:<br><br>
	
	- Toimintaviikon avajaismielenosoitus, 27.11.2023, Senaatintorilta Eduskuntatalolle<br>
	- Mielenosoitus mielenterveyden puolesta, 28.11.2023, Eduskuntatalon edessä<br>
	- Marssi leikkauksia vastaan, 2.12.2023, Senaatintorilta Eduskuntatalolle<br>
	- Jäähyväiset hallitukselle marssi ja katublokki, 3.12.2023, Senaatintorilta Eduskuntatalolle<br><br>

	Mielenosoitusten lisäksi järjestämme myös 7 hidasta marssia Helsingissä, yhden jokaisena toimintaviikon päivänä.<br><br>
	
	Järjestämme Toimintaviikon, koska vastustammen Petteri Orpon sinimustan hallituksen ihmisvastaista politiikkaa.
	Vaadimme ihmisarvoista politiikkaa ja nykyisen hallituksen eroa.<br><br>
	
	Tule mukaan toivottamaan jäähyväisiä sinimustalle hallitukselle!
  </p>
</section>
{% endblock %}
