{% extends 'base_fi.html' %} {% block content %}
<h1 class="toimintaviikko-heading">TOIMINTAVIIKKO 27.11.-3.12.</h1>

<section class="toimintaviikko-info">
  <h1 class="toimintaviikko-heading">Tietoa toimintaviikosta</h1>
  <p>
    Toimintaviikko on nykyistä Petteri Orpon sinimustaa hallitusta vastustava kampanja. 
  Toimintaviikon aikana marssimme yhdessä mielenterveyden puolesta, 
  leikkauksia vastaan sekä toivotamme jäähyväiset sinimustalle hallitukselle!</p>

  <br />
  <a class="cta-button" style="align-items: center" href="{{ url_for('tv_info') }}"
    >LISÄTIETOA</a
  >
</section>
<section class="events">
  <h2>Tapahtumat</h2>
  <div id="events-list" class="events-list">
    <!-- Events will be fetched and displayed here -->
  </div>
</section>
<script src="{{ url_for('static', filename='js/toimintaviikko-events-fi.js') }}"></script>
{% endblock %}
