/* ABOUT-US */
.about-us {
  padding: 40px;
}

.about-us h2 {
  font-size: 36px;
  margin-bottom: 20px;
}

/* ABOUT-CONTENT */
.about-content {
  background-color: #f9f9f9; /* Light gray background */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 40px;
}

.about-content p {
  margin-bottom: 15px;
  font-size: 18px;
  line-height: 1.5;
}

/* SECTION-TITLE */
.section-title {
  font-size: 36px;
  margin-bottom: 20px;
  color: var(--darker-violet); /* Purple color for section titles */
}

/* DEMANDS-LIST */
.demands-list {
  font-size: 20px;
  color: var(--violet); /* Violet color for demands */
  list-style-type: disc;
  padding-left: 20px;
  margin-bottom: 55px;
}

/* CONTACT-INFO */
.contact-info {
  background-color: #f9f9f9; /* Light gray background */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

/* SUBSECTION TITLE */
.subsection-title {
  font-size: 24px;
  margin-bottom: 20px;
  color: var(--violet); /* Purple color for subsection titles */
}

.values-list {
  font-size: 20px;
  color: var(--neon-green); /* Green color for values */
  list-style-type: disc;
  padding-left: 20px;
  margin-bottom: 55px;
}

/* Font styles for Periaatteet (Principles) section */
.principles-list {
  font-size: 20px;
  color: var(--neon-pink); /* Pink color for principles */
  list-style-type: disc;
  padding-left: 20px;
  margin-bottom: 55px;
}
