/* ABOUT-US */
.about-us {
  padding: 40px;
}

.about-us h2 {
  font-size: 36px;
  margin-bottom: 20px;
}

/* ABOUT-CONTENT */
.about-content {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 40px;
}

.about-content p {
  margin-bottom: 15px;
  font-size: 18px;
  line-height: 1.5;
}

/* SECTION-TITLE */
.section-title {
  font-size: 36px;
  margin-bottom: 20px;
  color: black;
}

/* DEMANDS-LIST */
.demands-list {
  font-size: 20px;
  color: var(--neon-pink);
  list-style-type: disc;
  padding-left: 20px;
  margin-bottom: 55px;
}

/* CONTACT-INFO */
.contact-info {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

/* SUBSECTION TITLE */
.subsection-title {
  font-size: 24px;
  margin-bottom: 20px;
  color: black;
}

.values-list,
.principles-list {
  font-size: 20px;
  list-style-type: disc;
  padding-left: 20px;
  margin-bottom: 55px;
}

/* Annamme Suomen hallitukselle 2 vaihtoehtoa: */
.anna,
.vaatimus {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
}

.anna {
  color: #FF0D72; /* SMHV/neon-pink */
  padding-bottom: 15px;
}

.vaatimus {
  color: var(--neon-pink);
  mix-blend-mode: normal;
  padding-bottom: 10px;
}
