/* Contact form styles */
.contact-form {
    padding: 40px;
    text-align: center;
}

.contact-form h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.contact-form p {
    font-size: 18px;
    margin-bottom: 30px;
}

.contact-form form {
    max-width: 400px;
    margin: 0 auto;
}

.contact-form label {
    display: block;
    margin-bottom: 10px;
    font-weight: 600;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    font-size: 16px;
}

.contact-form textarea {
    resize: vertical;
}

.alternative-contact {
    font-style: italic;
    color: #888;
    margin-top: 10px;
}


/* CSS for the "Show More" button */
.view-more-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 24px; /* Adjust the font size as needed */
    color: #007bff; /* Set the color to your preferred color */
    transition: color 0.3s, transform 0.3s; /* Add a transition for the transform property */
}