.event-info-box {
    background-color: #f5f5f5; /* Background color */
    border: 1px solid #ccc; /* Border style */
    padding: 10px; /* Padding inside the box */
    margin-bottom: 20px; /* Space between the box and the form */
}

.event-info-box h3 {
    font-size: 18px; /* Heading font size */
    color: #333; /* Heading text color */
    margin-top: 0; /* Remove default margin */
}

.event-info-box p {
    font-size: 16px; /* Paragraph text size */
    color: #555; /* Paragraph text color */
    margin: 5px 0; /* Spacing between paragraphs */
}

.event-info-box b {
    color: var(--neon-pink);
}