/* Footer styles */
footer {
  text-align: center;
  padding: 20px 0;
  background-color: #1c1c1c;
  color: #ffffff;
  font-weight: 600;
}

/* Footer content styles */
.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center align the content */
  margin-left: 20px;
  margin-right: 20px;
}

.footer-content p {
  margin: 0;
  font-size: 0.9rem;
}

/* Social media styles */
.social-media {
  display: flex;
  width: 286px;
  height: 36px;
  justify-content: center;
  align-items: flex-start;
  gap: 14px;
}



.social-media img {
  width: 36px;
  height: 36px;
  flex-shrink: 0;
}



/* Media query for mobile devices */
@media (max-width: 768px) {
  .social-media {
    flex-direction: row; /* Display icons in a row on mobile */
    justify-content: center;
  }
}
