/* Header styles */
header {
    background-color: #1c1c1c;
    color: #ffffff;
    display: flex;
    justify-content: space-between; /* Align content to the left and right */
    flex-direction: row; /* Change to column layout on mobile */
    align-items: center; /* Center align on mobile */
    padding: 10px 30px;
  }
  
header .left {
display: flex;
align-items: center;
}



header .left img {
  width: 50px; /* Adjust the logo size as needed */
  margin-right: 20px;
}

header .left .language-dropdown {
  display: flex;
  align-items: center;
  margin-right: 20px; /* Adjust the spacing as needed */
}

header .left .language-dropdown a {
  text-decoration: none;
  color: #ffffff;
  font-size: 18px;
  font-weight: 600;
  transition: color 0.3s;
  margin-right: 10px; /* Adjust the spacing as needed */
}

/* Add a class "active" to the active language option and apply neon green color */
header .left .language-dropdown a.active {
  color: var(--neon-green);
  text-decoration: underline;
}

header .left .language-dropdown a:hover {
  color: #c2c2c2;
}


header .right {
  display: flex;
  align-items: center;
}

nav ul {
  list-style: none;
  text-align: center;
  display: flex;
  justify-content: center; /* Center the items */
}

nav ul li {
  display: inline-block;
  margin: 10px 15px;
  position: relative;
}

nav ul li a {
  text-decoration: none;
  color: #ffffff;
  font-size: 18px;
  font-weight: 600;
  transition: color 0.3s;
}

nav ul li a:hover {
  color: #c2c2c2;
}

/* Dropdown styles */
.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #1c1c1c;
  min-width: 160px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
  padding: 10px;
  top: 100%;
  left: 0;
}

/* Mobile Menu Styles */
#mobile-menu {
  display: none;
}

.menu-toggle {
  display: none;
  cursor: pointer;
}

/* Media Query for Mobile Devices */
@media (max-width: 768px) {
  header .left ul {
    display: flex; /* Change back to flex layout on mobile */
    justify-content: center;
  }

  header .left ul li {
    align-items: center;
    
  }

  header .left {
    flex-direction: row; /* Change to column layout on mobile */
    align-items: center; /* Center align on mobile */
  }

  header .left img {
    width: 50px; /* Adjust the logo size as needed */
    align-self: center; /* Center the logo on mobile */
    position: sticky;
    margin: 0 auto;
    height: 100%; /* Make the header take up the full viewport height */

  }

  /* Mobile Menu Styles */
  #mobile-menu {
    display: none;
    background-color: #1c1c1c;
    position: static;
    left: 0;
    width: 100%;
    padding: 10px 0;
  }
  #mobile-menu ul {
    list-style: none;
    text-align: center;
  }
  #mobile-menu li {
    margin: 5px 0;
  }
  #mobile-menu a {
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
    font-weight: 600;
    transition: color 0.3s;
    display: block;
    /* Make menu items full-width for touch devices */
  }
  #mobile-menu a:hover {
    color: #c2c2c2;
  }
  .menu-toggle {
    display: block;
    cursor: pointer;
    align-self: center;
  }

  .menu-opened #menu-toggle {
    display: none;
  }
  /* Show the mobile menu when the menu toggle is clicked */
  .menu-opened #mobile-menu {
    display: block;
  }
  header {
    flex-direction: column;
    padding: 10px;
  }
  nav ul {
    flex-direction: column;
    align-items: center;
  }
  nav ul li {
    margin: 5px 0;
  }
  nav ul li a {
    font-size: 16px;
  }
  .language-dropdown * {
    display: none;
    visibility: hidden;
   
    /* Hide language dropdown on mobile */
  }

  .menu-toggle {
    display: block;
    cursor: pointer;
    align-self: center;
    align-content: center;
    margin: 0 auto;
  }
  .computer-menu {
    display: none;
    /* Hide computer menu on mobile */
  }

  .language-dropdown {
    display: none;
    visibility: hidden;

    /* Hide language dropdown on mobile */
  }
}
