@import url("signup-form.css");
@import url("signup-role.css");
@import url("signup-roles.css");


/* SIGNUP-HEADING */
.signup-heading {
  padding-bottom: 1em;
}

@media (max-width: 768px) {
  .signup-heading h2{
    text-overflow: break-word;
  }
}

.view-more-button {
  background: none;
  width: 100%;
  border: none;
  cursor: pointer;
  font-family: "Bricolage Grotesque", sans-serif;
}

.view-more-button:hover {
  background: none;
  border: none;
}

/* PROGRESS-BAR */
.progress-bar {
  height: 15px;
  background-color: var(--neon-green); /* Change color if needed */
  border-radius: 4px 0px 0px 4px;
  opacity: 100%;
}

.progress-bar-outer {
  border: 1px solid rgba(0, 0, 0, 0.675);
  margin: 5px 0px 20px 0px;
  border-radius: 5px;
  width: 100%;
}
