/* SIGNUP-FORM */
.signup-form {
  padding: 40px;
  text-align: center;
  overflow: hidden;
  text-overflow: break-word;
  overflow-wrap: anywhere;

}

.signup-form h2 {
  margin-bottom: 20px;
}

.signup-form p {
  font-size: 18px;
  margin-bottom: 50px;
}

.signup-form form {
  margin: 0 auto;
}

.signup-form label {
  display: block;
  margin-bottom: 10px;
  font-weight: 600;
}

.submit-button{
  all: unset;
}

.signup-form input,
.signup-form textarea {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  font-size: 16px;
}

.signup-form textarea {
  resize: vertical;
}

.signup-form button:hover {
  background-color: var(--light-violet);
}

@media (max-width: 480px) {
  .signup-form{
    padding:5px;
  }
}