{% extends 'base_fi.html' %}
{% block content %}
<style>
  /* Define styles for name, email, and title */
  .name {
    font-weight: bold;
    margin-bottom: 5px;
  }

  .email {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  .email a {
    text-decoration: none;
    color: #0078d4;
  }

  .email a:hover {
    text-decoration: underline;
  }

  .title {
    font-style: italic;
    color: #555;
  }

  /* Define styles for the send email button */

  .send-email-button {
    background-color: #0078d4;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none; /* Remove underlines from links */
    bottom: 0;
  }

  .send-email-button:hover {
    background-color: #005a9e;
  }

  /* Define styles for contact groups */
  .contact-group {
    margin-top: 20px;
    border-top: 1px solid #ccc;
    padding-top: 20px;
  }

  .email {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;


}

</style>
<section class="contact-us">
  <h2>Yhteystiedot</h2>
  <div class="contact-group">
    <h3>Johtoryhmä</h3>
    <div class="events-list">
      <div class="event">
        <div class="name">Verso Vuorenmaa</div>
        <div class="email">
          <a href="mailto:verso.vuorenmaa@sinimustaahallitustavastaan.org">verso.vuorenmaa@sinimustaahallitustavastaan.org</a>
        </div>
        <div class="title">IT Manager</div>
        <a class="send-email-button" href="mailto:verso.vuorenmaa@sinimustaahallitustavastaan.org">Lähetä sähköposti</a>
      </div>
      <!-- Add more members of the Johtoryhmä here -->
    </div>
  </div>
  <div class="contact-group">
    <h3>Muut Jäsenet</h3>
    <div class="events-list">
      <div class="event">
        <div class="name">Nimi: Jäsen 2</div>
        <div class="email">
          <a href="mailto:member2@example.com">member2@example.com</a>
        </div>
        <div class="title">Titteli 2</div>
        <a class="send-email-button" href="mailto:member2@example.com">Lähetä sähköposti</a>
      </div>
      <div class="event">
        <div class="name">Nimi: Jäsen 3</div>
        <div class="email">
          <a href="mailto:member3@example.com">member3@example.com</a>
        </div>
        <div class="title">Titteli 3</div>
        <a class="send-email-button" href="mailto:member3@example.com">Lähetä sähköposti</a>
      </div>
      <div class="event">
        <div class="name">Nimi: Jäsen 4</div>
        <div class="email">
          <a href="mailto:member4@example.com">member4@example.com</a>
        </div>
        <div class="title">Titteli 4</div>
        <a class="send-email-button" href="mailto:member4@example.com">Lähetä sähköposti</a>
      </div>
      <!-- Add more members of Muut Jäsenet here -->
    </div>
  </div>
  <!-- You can add more contact groups as needed -->
</section>
{% endblock %}
