{% extends 'base_fi.html' %} {% block content %}
<section class="event-calendar">
  <h2>Tulevat tapahtumat</h2>
  <p>
    Tutustu tuleviin tapahtumiimme, joissa kokoontumme oppimaan, verkostoitumaan
    ja luomaan positiivista vaikutusta.
  </p>
  <br />
  <br />
  <div class="events-list">
  {% for event in events %}
  <div class="event">
    <h3>{{ event.title_fi }}</h3>
    <p>Päivämäärä: {{ event.date }}</p>
    <p>Paikka: {{ event.location_fi }}</p>
    <p>{{ (event.description_fi|replace('\n', '<br />')|safe)[:100] }}</p>

    <!-- Add a link to the signup page for this event -->
    {% if event.role_signup %}
    <a
      href="{{ url_for('event_signup', event_id=event._id) }}"
      class="cta-button"
      >Ilmoittaudu</a
    >
    {% endif %}
    <a
      href="{{ url_for('event_details', event_id=event._id) }}"
      class="cta-button"
      >Näytä tiedot</a
    >
  </div>

  {% if empty %}
  <a href="{{ url_for('join') }}" class="cta-button"
    >Tule mukaan järjestämään!</a
  >
  {% endif %} {% endfor %}
</div>
</section>
{% endblock %}
