{% extends 'base_fi.html' %} {% block content %}
<h1 style="font-size: 0px">Hallitusta vastaan, elämän puolesta!</h1>

<section class="hero">
  <div class="hero-content">
    <h2>Hallitusta vastaan, elämän puolesta!</h2>
    <p>Tavoitteemme on kaataa hallitus vuoteen 2024 mennessä.</p>
    <a href="{{ url_for('about') }}" class="cta-button"
      >Lue lisää toiminnastamme</a
    >

    <br /><br />

    <a
      href="{{ url_for('join') }}"
      style="background-color: var(--neon-pink)"
      class="cta-button"
      >Liity meihin!</a
    >
  </div>
</section>
<section class="about-us">
  <h2>Tietoa Meistä</h2>
  <div class="about-content">
    <p>
      Olemme aktivistiryhmä, joka on omistautunut sinimustan hallituksen
      kaatamiseen.
    </p>
    <p>Tavoitteemme on saada sinimusta hallitus kaatumaan.</p>
    <p>Liity joukkoomme kaatamaan hallitusta.</p>
  </div>
  <a href="{{ url_for('about') }}" class="cta-button">Lue lisää</a>
</section>
<section class="join-us">
  <h2>Tule mukaan jo tänään!</h2>
  <p>
    Oletko valmis toimimaan ja luomaan parempaa tulevaisuutta? Liity mukaan!
  </p>
  <a href="{{ url_for('join') }}" class="cta-button">Tule mukaan!</a>
</section>
<!-- join_email_list.html -->

<section class="join-email-list-container">
  <div class="join-email-list-content">
      <h1 style="text-align: center;">Liity Sähköpostilistalle</h1>
      <p>Ole osa yhteisöämme ja pysy ajan tasalla tulevista päivityksistä ja tapahtumista!</p>

      {% include 'fi/email/join_email_list_widget.html' %}  </div>
</section>



{% endblock %}
