{% extends 'base_fi.html' %}

{% block content %}
    <section class="contact-form">
        <h2>Ilmoittaudu tapahtumaan "{{event.title_fi}}"</h2>

        <form method="POST" action="/signup/{{ event_id }}" class="closed-form">
            <label for="name">Nimesi:</label>
            <input type="text" id="name" name="name" required><br>

            <label for="email">Sähköpostiosoitteesi:</label>
            <input type="email" id="email" name="email" required><br>

            <label for="roles">Roolit:</label>
            <div class="role-list">
                {% for role in event.roles %}
                <div class="role-box">
                    <input type="checkbox" class="custom-checkbox" name="roles[]" id="{{role.name}}" value="{{role.show_name}}" >
                    <label for="{{role.name}}">
                        <div class="role-name">{{role.fi_name}}</div>
                        <div class="role-description fade">{{role.fi_description}}</div>
                        {% if role.fi_description %}
                        <button type="button" class="view-more-button">
                            Näytä lisää ▼
                        </button>
                        {% endif %}
                    </label>
                    {% if role.need_training and role.training_url %}
                    <a href="{{role.training_url}}" class="cta-button">Ilmoittaudu tukiroolikoulutukseen</a> 
                    {% endif %}
                </div>

                {% endfor %}
            <button type="submit" class="cta-button">Ilmoittaudu</button>
        </form>
    </section>
    <script>
        // Add a click event listener to each role box
document.querySelectorAll('.role-box').forEach(function (box) {
    // When a role box is clicked, toggle the checkbox and apply styles
    box.addEventListener('click', function () {
        const checkbox = box.querySelector('.custom-checkbox');
        checkbox.checked = !checkbox.checked;
        box.classList.toggle('selected', checkbox.checked);
    });
});

document.addEventListener('DOMContentLoaded', function () {
    var buttons = document.querySelectorAll('.view-more-button');

    buttons.forEach(function (button) {
        button.addEventListener('click', function () {
            var roleBox = this.closest('.role-box');
            var description = roleBox.querySelector('.role-description');
            var arrow = roleBox.querySelector('.arrow-down');

            if (roleBox.classList.contains('expanded')) {
                description.style.maxHeight = '40px'; // Adjust the height as needed
                roleBox.classList.remove('expanded');
                //arrow.style.transform = 'rotate(0deg)';
                button.textContent = 'Näytä lisää ▼';
            } else {
                description.style.maxHeight = 'none';
                roleBox.classList.add('expanded');
                //arrow.style.transform = 'rotate(180deg)';
                button.textContent = 'Piilota ▲';
            }
        });
    });
});



</script>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

{% endblock %}
