{% extends 'base_fi.html' %}

{% block content %}
    <section class="contact-form">
        <h2>Ilmoittaudu tapahtumaan "{{event.title_fi}}"</h2>

        <form method="POST" action="/signup/{{ event_id }}" class="closed-form">
            <label for="name">Nimi:</label>
            <input type="text" id="name" name="name" required><br>

            <label for="email">Sähköpostiosoitteesi:</label>
            <input type="email" id="email" name="email" required><br>

            <label for="roles">Roolit:</label>
            <div class="checkbox-group">
                {% for role in event.roles %}
                <input type="checkbox" name="roles" id="{{role.name}}" value="{{role.show_name}}" class="custom-checkbox">
                <label for="{{role.name}}" class="checkbox-label">{{role.fi_name}}</label>
                {% endfor %}
            </div>

            <button type="submit" class="cta-button">Ilmoittaudu</button>
        </form>
    </section>
{% endblock %}
