{% extends 'base_fi.html' %}

{% block content %}
<div class="roles-container">
    <section class="signup-form">
        <h2 class="signup-heading">Ilmoittaudu tapahtumaan "{{event.title_fi}}"</h2>

        <form method="POST" action="/signup/{{ event_id }}" class="closed-form">
            <label for="name">Nimesi:</label>
            <input type="text" id="name" name="name" required><br>

            <label for="email">Sähköpostiosoitteesi:</label>
            <input type="email" id="email" name="email" required><br>

            <label for="roles">Roolit:</label>
            <div class="roles">
                {% for role in event.roles %}
                <div class="role">
                    <input type="checkbox" class="custom-checkbox" name="roles[]" id="{{role.name}}" value="{{role.show_name}}" >
                    <label for="{{role.name}}">
                        <div class="role-name">{{role.fi_name}}</div>
                        <div class="role-description fade">{{role.fi_description}}</div>
                        
                        {% if role.fi_description %}
                        <a type="button" class="view-more-button">
                            Näytä lisää ⏷
                        </a>
                        {% endif %}
                        
                        <!-- Lisää mittari ja väripalkki tähän -->
                        {% if role.get('count', none) != none %}
                        <div class="role-status">
                            <div class="role-count">
                                Tällä hetkellä: {{ role.count }} / Tarvitaan: {{ role.min_count }}
                            </div>

                            {% if role.get('count') > role.get('min_count') %}

                            <div class="progress-bar-outer">
                                <div class="progress-bar" max=100 style="width: 100%;">
                            </div>

                            {% else %}
                            
                            <div class="progress-bar-outer">
                                <div class="progress-bar" max=100 style="width: {{ (role.get('count') / role.get('min_count', 1)) * 100 }}%;">
                            </div>

                            {% endif %}
                            </div>
                        </div>
                        {% endif %}
                    </label>
                    
                    {% if role.need_training and role.training_url %}
                    <a href="{{role.training_url}}" class="cta-button">Ilmoittaudu tukiroolikoulutukseen</a> 
                    {% endif %}
                </div>

                {% endfor %}
            </div>
            
            <button type="submit" id="submit-button" class="cta-button">Ilmoittaudu</button>
        </form>
    </section>
</div>
    
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{ url_for('static', filename='js/role_signup.js') }}"></script>

{% endblock %}
