/* Import CSS files */
@import url("css/header.css");
@import url("css/event.css");
@import url("css/contact.css");
@import url("css/intro.css");
@import url("css/about.css");
@import url("css/hero.css");
@import url("css/join.css");
@import url("css/footer.css");


/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styles */
body {
    font-family: 'Bricolage Grotesque', sans-serif;
    background-color: #f9f9f9;
    color: #333333;
}

/* Main content styles */
main {
    padding: 40px;
}

/* Section styles */
section {
    margin-bottom: 40px;
}

