<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Sinimustaa hallitusta vastaan | {{ title }}</title>
  <meta name="description" content="Join us to actively participate in fight against far-right government." />
  <meta name="keywords"
    content="activism, resistance, far-right government, blue-black government, joining to activism" />
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" />
  <link href="https://fonts.googleapis.com/css2?family=Bricolage+Grotesque&display=swap" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css2?family=Signika+Negative:wght@600&display=swap" rel="stylesheet" />
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5254175970151613"
    crossorigin="anonymous"></script>
  <script src="{{ url_for('static', filename='js/mobilemenu.js') }}"></script>
  <script type="text/javascript" charset="UTF-8"
    src="//cdn.cookie-script.com/s/d96cd1d2e5521e86d7dcc139b3a14bcc.js"></script>
</head>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-C4L1ME98KL"></script>

<script>
  window.dataLayer = window.dataLayer || [];
  function gtag() {
    dataLayer.push(arguments);
  }
  gtag("js", new Date());

  gtag("config", "G-C4L1ME98KL");
</script>

<body>
  {% include 'header_en.html' %}


  {% with messages = get_flashed_messages(with_categories=true) %} {% if
  messages %}
  <ul class="flashes">
    {% for category, message in messages %}
    <li class="{{ category }}">{{ message }}</li>
    {% endfor %}
  </ul>
  {% endif %} {% endwith %}
  <main>{% block content %}{% endblock %}</main>
  {% include "footer.html" %}

</body>
</html>