<!DOCTYPE html>
<html lang="fi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sinimustaa hallitusta vastaan | {{ title }}</title>
    <meta charset="UTF-8">
    <meta name="description" content="Liity aktiivisesti taisteluun sinimustaa hallitusta vastaan. Osallistu aktivismiin ja vaikuta yhteiskunnallisiin asioihin.">
    <meta name="keywords" content="aktivismi, vastarinta, sinimustaa hallitus, liittyminen aktivismiin">
    <!-- Lisää muita relevanteja meta-tageja tarvittaessa -->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Bricolage+Grotesque&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Signika+Negative:wght@600&display=swap" rel="stylesheet">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5254175970151613"
     crossorigin="anonymous"></script>
</head>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-C4L1ME98KL"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-C4L1ME98KL');
</script>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{{ url_for('index') }}">Kotisivu</a></li>
                <li><a href="{{ url_for('events') }}">Tapahtumat</a></li>
                <li><a href="{{ url_for('about') }}">Meistä</a></li>
                <li><a href="{{ url_for('contact') }}">Ota yhteyttä</a></li>
                <li><a href="{{ url_for('join') }}">Liity</a></li>
                <li><a href="{{ url_for('change_language', lang='en') }}">EN</a></li>
                <li><a href="{{ url_for('change_language', lang='fi') }}">FI</a></li>
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        <div class="footer-content">
            <p>&copy; {{ current_year }} sinimustaa hallitusta vastaan</p>

            <br><br>

            <div class="social-media">
                <a href="https://www.instagram.com/sinimustaa_hallitusta_vastaan" target="_blank" rel="noopener noreferrer">
                    <img src="{{ url_for('static', filename='ig.png') }}" alt="Instagram">
                </a>
                <a href="https://www.facebook.com/sinimustaa_hallitusta_vastaan" target="_blank" rel="noopener noreferrer">
                    <img src="{{ url_for('static', filename='fb.png') }}" alt="Facebook">
                </a>
            </div>
        </div>
    </footer>
</body>
</html>
