<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sinimustaa hallitusta vastaan | {{ title }}</title>
    <meta name="description" content="Join to actively fight against far-right government. Participate in activism and make a difference.">
    <meta name="keywords" content="activism, far-right government, blue-black government">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Bricolage+Grotesque&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Signika+Negative:wght@600&display=swap" rel="stylesheet">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5254175970151613" crossorigin="anonymous"></script>
    <!-- Add CSS for the language menu animation -->

</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{{ url_for('index', lang='en') }}">Home</a></li>
                <li><a href="{{ url_for('events', lang='en') }}">Events</a></li>
                <li><a href="{{ url_for('contact', lang='en') }}">Contact</a></li>
                <li><a href="{{ url_for('about', lang='en') }}">About Us</a></li>
                <li><a href="https://mesenaatti.me/3185/rahoita-taistelua-sinimustaa-hallitusta-vastaan/">Fund us</a></li>
                <li><a href="{{ url_for('join', lang='en') }}">Join us</a></li>
                <li><a href="{{ url_for('change_language', lang='en') }}">EN</a></li>
                <li><a href="{{ url_for('change_language', lang='fi') }}">FI</a></li>
            </ul>
        </nav>
    </header>
    {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <ul class=flashes>
    {% for category, message in messages %}
      <li class="{{ category }}">{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        <div class="footer-content">
            <p>&copy; {{ current_year }} Against the Finnish far-right government!</p>

            <br><br>

            <div class="social-media">
                <a href="https://www.instagram.com/sinimustaa_hallitusta_vastaan" target="_blank" rel="noopener noreferrer">
                    <img src="{{ url_for('static', filename='ig.png') }}" alt="Instagram">
                </a>
                <a href="https://www.facebook.com/sinimustaa_hallitusta_vastaan" target="_blank" rel="noopener noreferrer">
                    <img src="{{ url_for('static', filename='fb.png') }}" alt="Facebook">
                </a>
            </div>
        </div>
    </footer>
</body>
</html>
