<footer>
    <div class="footer-content">
      <p>&copy; <span id="currentYear"></span> sinimustaa hallitusta vastaan</p>


      <br /><br />

      <div class="social-media">
        <a href="https://www.instagram.com/sinimustaa_hallitusta_vastaan" target="_blank" rel="noopener noreferrer">
          <img src="{{ url_for('static', filename='images/instagram.svg') }}" alt="Instagram" />
        </a>
        <a href="https://www.threads.net/@sinimustaa_hallitusta_vastaan" target="_blank" rel="noopener noreferrer">
          <img src="{{ url_for('static', filename='images/threads.svg') }}" alt="Threads" />
        </a>
        <a href="https://www.x.com/@sinimustahallitus" target="_blank" rel="noopener noreferrer">
          <img src="{{ url_for('static', filename='images/x.svg') }}" alt="X" />
        </a>
        <a href="https://www.tiktok.com/@sinimustahallitus" target="_blank" rel="noopener noreferrer">
          <img src="{{ url_for('static', filename='images/tik-tok.svg') }}" alt="TikTok" />
        </a>
        <a href="https://t.me/sinimustaahallitustavastaan" target="_blank" rel="noopener noreferrer">
          <img src="{{ url_for('static', filename='images/telegram.svg') }}" alt="Telegram" />
        </a>
        <a href="https://www.facebook.com/sinimustaa_hallitusta_vastaan" target="_blank" rel="noopener noreferrer">
          <img src="{{ url_for('static', filename='images/facebook.svg') }}" alt="Facebook" />
        </a>
      </div>
    </div>
  </footer>

  <script>
    document.getElementById("currentYear").innerHTML = new Date().getFullYear();
  </script>