<footer>
    <div class="footer-content">
      <p>&copy; <span id="currentYear"></span> sinimustaa hallitusta vastaan</p>


      <br /><br />

      <div class="social-media">
        <a href="https://www.instagram.com/sinimustaa_hallitusta_vastaan" target="_blank" rel="noopener noreferrer">
          <img src="{{ url_for('static', filename='ig.png') }}" alt="Instagram" />
        </a>
        <a href="https://www.facebook.com/sinimustaa_hallitusta_vastaan" target="_blank" rel="noopener noreferrer">
          <img src="{{ url_for('static', filename='fb.png') }}" alt="Facebook" />
        </a>
        <a href="https://www.tiktok.com/@sinimustahallitus" target="_blank" rel="noopener noreferrer">
          <img src="{{ url_for('static', filename='tiktok.png') }}" alt="TikTok" />
        </a>
      </div>
    </div>
  </footer>