<script src="{{ url_for('static', filename='js/mobilemenu.js') }}"></script>

<header>
  <div class="left">
    <a href="{{ url_for('index') }}">
      <img
        src="{{ url_for('static', filename='logo_Läpinäkyvä_Valkoinen.png') }}"
        alt="Logo"
      />
    </a>
    <div class="language-dropdown not-mobile">
      <a href="{{ url_for('change_language', lang='en')}}">EN</a>
      <a class="active" href="{{ url_for('change_language', lang='fi')}}">FI</a>
    </div>
  </div>
  <div class="right">
    <!-- Computer menu -->
    <nav class="computer-menu">
      <ul>
        <li><a href="{{ url_for('events') }}">Tapahtumat</a></li>
        <li><a href="{{ url_for('blog') }}">Blogi</a></li>
        <li><a href="{{ url_for('contact') }}">Ota yhteyttä</a></li>
        <li><a href="{{ url_for('about') }}">Meistä</a></li>
        <li><a href="{{ url_for('join') }}">Liity</a></li>
        <li><a href="{{ url_for('contacts') }}">Yhteystiedot</a></li>
      </ul>
    </nav>
    <!-- Mobile menu -->
    <nav id="mobile-menu">
      <ul>
        <li><a href="{{ url_for('events') }}">Tapahtumat</a></li>
        <li><a href="{{ url_for('blog') }}">Blogi</a></li>
        <li><a href="{{ url_for('contact') }}">Ota yhteyttä</a></li>
        <li><a href="{{ url_for('about') }}">Meistä</a></li>
        <li><a href="{{ url_for('join') }}">Liity</a></li>
        <li><a href="{{ url_for('contacts') }}">Yhteystiedot</a></li>

        <li>
          <div class="language">
            <a href="{{ url_for('change_language', lang='en')}}">EN</a>
            <a class="active" href="{{ url_for('change_language', lang='fi')}}"
              >FI</a
            >
          </div>
        </li>
        <li>
          <div class="menu-toggle" onclick="toggleMobileMenu()">✕</div>
        </li>
      </ul>
    </nav>
    <div id="menu1" class="menu-toggle" onclick="toggleMobileMenu()">☰</div>
  </div>
</header>
