<script src="{{ url_for('static', filename='js/mobilemenu.js') }}"></script>


<header>
    <div class="left">
      <a href="{{ url_for('index') }}">
        <img src="{{ url_for('static', filename='logo_Läpinäkyvä_Valkoinen.png') }}" alt="Logo" />
      </a>
      <div class="language-dropdown">
        <a class="active" href="{{ url_for('change_language', lang='en')}}">EN</a>
        <a href="{{ url_for('change_language', lang='fi')}}">FI</a>
      </div>
    </div>
    </div>
    <div class="right">
      <!-- Computer menu -->
      <nav class="computer-menu">
        <ul>
          <li><a href="{{ url_for('events') }}">Events</a></li>
          <li><a href="{{ url_for('blog') }}">Blog</a></li>
          <li>
            <a href="{{ url_for('contact') }}">Contact us</a>
          </li>
          <li><a href="{{ url_for('about') }}">About us</a></li>
          <li><a href="{{ url_for('join') }}">Join us</a></li>
        </ul>
      </nav>
      <!-- Mobile menu -->
      <nav id="mobile-menu">
        <ul>
          <li><a href="{{ url_for('events') }}">Events</a></li>
          <li><a href="{{ url_for('blog') }}">Blog</a></li>
          <li>
            <a href="{{ url_for('contact') }}">Contact us</a>
          </li>
          <li><a href="{{ url_for('about') }}">About us</a></li>
          <li><a href="{{ url_for('join') }}">Join us</a></li>
          <li>
            <div class="language">
              <a class="active" href="{{ url_for('change_language', lang='en')}}">EN</a>
              <a href="{{ url_for('change_language', lang='fi')}}">FI</a>
            </div>
          </li>
          <li>
            <div class="menu-toggle" onclick="toggleMobileMenu()">✕</div>
          </li>
        </ul>
      </nav>
      <div id="menu1" class="menu-toggle" onclick="toggleMobileMenu()">☰</div>
    </div>
  </header>