{% extends 'base_fi.html' %}

{% block content %}
    <h2>Upload a Photo</h2>
    <form method="POST" action="/upload_photos" enctype="multipart/form-data">
        <label for="photos[]">Select a photo:</label>
        <input type="file" name="photos[]" multiple accept="image/*" required>
        
        <!-- Photographer's Name Input -->
        <label for="photographer_name">Photographer's Name:</label>
        <input type="text" name="photographer_name" required>
        
        <!-- Photographer's Email Input -->
        <label for="photographer_email">Photographer's Email:</label>
        <input type="email" name="photographer_email" required>
        
        <progress id="upload-progress" max="100" value="0"></progress>
        <div id="progress-label">0%</div>
        <input type="submit" value="Upload Photos">
    </form>
    <script>
        var progressBar = document.getElementById('upload-progress');
        var progressLabel = document.getElementById('progress-label');
        var eventSource = new EventSource('/upload_progress');
    
        eventSource.onmessage = function (event) {
            var data = JSON.parse(event.data);
            progressBar.value = data.progress;
            progressLabel.innerHTML = data.progress + '%';
        };
    </script>
{% endblock %}
