{% extends 'base_en.html' %} {% block title %} Thank You for Confirmation {%
endblock %} {% block content %}
<h1>Thank You for Confirmation!</h1>
<p>Your email address has been successfully confirmed.</p>
<p>
  You are now part of our community. Stay tuned for updates and exciting news!
</p>
<!-- Add any language-specific content here -->
<p id="countdown">Redirecting in 10 seconds...</p>
<script>
  setTimeout(function () {
    window.location.href = "https://sinimustaahallitustavastaan.org";
  }, 10000);

  // Countdown timer
  var seconds = 10;
  var countdownElement = document.getElementById("countdown");
  setInterval(function () {
    seconds--;
    countdownElement.textContent = "Redirecting in " + seconds + " seconds...";
  }, 1000);
</script>
{% endblock %}
